*{
	padding: 0;
	margin: 0;
}
body {
	background-color: #002B5F;	
    font-family: Tahoma, serif;
    font-size: 0.98em;
    text-align: center;
}
header{
	background-image: url(http://www.matuflex.com/imagenes/encabezado-principal.jpg);
	background-repeat: no-repeat;
	width: 700px;
	height: 285px;
}
#container{
	background-color: #002B5F;
	background-image: url(http://www.matuflex.com/imagenes/fondo-index.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	border-style: solid 3px #fff;
	width: 700px;
	margin: auto;
	padding-top: 14em;
	padding-bottom: 255px;
}
ul{
	list-style-type: none;
	margin-top: -1.5em;
	width:100%;
	margin-right: 1.3em;
	
}
ul li {
	float:left;
	margin-right: 1.3em;
	background-image: url(http://www.matuflex.com/imagenes/vineta-menu-principal.gif);
	background-position:left;
	background-repeat: no-repeat;
	padding-left:1.3em;
}
ul li a {
	color: #fff;
}
.active a:link {
	font-weight: bold;
    text-decoration: none;
}
.active a:hover{
	border-bottom: 2px dotted #FF5C00;
}
h1{
	color: #ff5c00;
	height: 1.3em;
	background-color:#002B5F ;
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
	margin-top: 0.7em;
}
h1 span{
	color: #CCD6DE;
}
footer{
	color: #fff;
	margin-top: 1.5em;
}
.hrefoot a{
	color: #fff;
}
.hrefoot a:hover {
	color: #FF9505;
	border-bottom: 1px dotted #002b5f;
}