*{
	padding:0;
	margin: 0;
}
ol li{
	list-style: none;
}

h1 {
	background-image: url("imgs/fondo-h1.gif");
	background-repeat: no-repeat;
	background-position:left center;
	background-color: #002B5F;
	color: white;
	border-bottom: solid  2px white;
	border-top: none;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-left: 1.5em;
	margin-bottom: 1em;
	margin-left:-0.7em;
	font-weight: bold;
	text-align: left;
	

}
h2{
	background-image: url("imgs/fondo-h2.gif");  
	background-position: center top;
    background-repeat: no-repeat;
	color: #FF5C00;
	padding-right: 2.5em;
	margin-bottom: 1em;
	line-height: 55px;
	font-size: 1.15em;
	height: 50px;
	text-transform: uppercase;
	margin-top: 3em;
}

p{
  	color: #002B5F;
  	margin-bottom: 2em;
  	margin-top: 1.5em;
   
}
.contactos a{
	color:#FF5C00;

}
.content{
width: 96.7%;
margin: auto;
color: #002B5F;
}
/*
#menu{
	font-weight: bold;
	display: inline;
}*/
.branding{	
	background-image: url("imgs/encabezado-matuflex.jpg");
	background-position: left;
	background-repeat: no-repeat;
	height: 270px;
	
}
.logo{
width: auto;
float: right;
margin-top: 40px;
}
.container{	
background-image: url("imgs/fondo-contenido-inferior.gif");
background-position: right bottom;
background-repeat: no-repeat;
border: solid 3px white;
background-color: #FFE6C4;
margin: 30px 60px;

}


aside{
	background-color: #002B5F;
padding: 1em 0.5em;
margin: 88px 120px;
}
aside p{
	text-align: center;
	color:#FFFFFF;
	margin: 1em;

}
mark{
background-color: #ff5c00;
color: white;
font-weight: bold;
border-left:5px solid #fff;
}
aside p a{
color: #ff5c00;

}

body{
	font-family: Tahoma;
	background-color: #002B5F;
	text-align: center;
	font-size: 0.98em;

}
nav{
	height: 2em;
	background-color: #ff5c00;
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
}

nav a{
	color: #002B5F;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
/*
nav a:link{/*flata poner el check
	color: white;
}*/
nav a:hover {
	color: #FF9505;
	border-bottom: 1px dotted #002b5f;
}
ul{
	list-style-type: none;
	margin: auto;
	width:80%;
	padding: 3px;
	line-height: 1.8em;
}
ul li{/**/
	float:left;
	margin-right: 1.5em;
	background-image: url("imgs/vineta-menu.gif");
	background-position:left;
	background-repeat: no-repeat;
	padding-left:1.3em;
}
#marino {  
    height:200px;
    background-color: #002B5F;
    color: white;
    }
   
  table th{      
  margin: 3em;
  }
  table {
 width: 80%;
 border: 2px solid #002B5F;
 border-collapse:collapse;
 padding-bottom:5em;
 margin-left: 8em;
 }
 
 .vertical {
    padding: 6em -0.5em;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
 }
 

.acuamarina {
	background-color: #DFEEFF;
}

footer{
	color: white;
}
footer p{
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 0.5em;
}
a{
color:#fff;
}